.about{
        display: block;
        margin-top: 8vh;
        color: rgb(183, 121, 41);
        font-size: 6vw;
        font-family: 'Edu VIC WA NT Beginner';
        border-radius: 1vw;
}
@media only screen and (min-width: 768px){
    .about{
        display: block;
        margin-top: 8vh;
        color: rgb(183, 121, 41);
        font-size: 2vw;
        font-family: 'Edu VIC WA NT Beginner';
        border-radius: 1vw;
}
}